.container {
  padding: 20px;
  min-height: 100vh;
}

.table-wrapper {
  margin-bottom: 20px; 
}

.mt-auto {
  margin-top: auto;
  
}
.table-wrapper tbody{
  min-height: 30px;
  background-color: aqua;
}